@import 'fonts';
@import 'mixsins';
@import 'vars';
@import 'global';

// start header
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu-list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        font-size: 14px;
        @include f500;
        color: #fff;
    }
}

// end header
// start search
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding-top: 160px;
    padding-bottom: 100px;
    color: #fff;
    text-align: center;
}
.search__inner-title {
    font-size: 48px;
    @include f700;
    margin-bottom: 18px;
    line-height: 72px;
}
.search__inner-text {
    @include f500;
    font-size: 20px;
    margin-bottom: 50px;
    line-height: 30px;
}
.search__inner-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
        height: 56px;
        display: block;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        border: none;
        font-size: 14px;
        @include f500;
        padding-left: 25px;
        padding-right: 60px;
        &::placeholder{
            color: #90a4ae;
            @include f500;
        }
    }
    button{
        position: absolute;
        border: none;
        background: transparent;
        right: 20px;
        top: 16px;
        cursor: pointer;
    }
}
// end search
// start products
.products{
    padding: 110px 0;
    background-color: $gray;
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px; 
    button{
        @include f500;
        color: $bg;
        font-size: 14px;
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);  
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        @include f700;
        font-size: 20px;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            @include f500;
            font-size: 14px;
        }
    }
    &-start{
        span{
            color: $bg;
            font-size: 12px;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}
// end products
// start product-slider
.product-slider {
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;  
            button{
                cursor: pointer;
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                height: 16px;
                width: 16px;
                outline: none;
            }
            &.slick-active{
                button{
                    background-color: $green;   
                }
            }
        }
    }
}
// end product-slider
// start tutorial
.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-title{
        font-size: 24px;
        @include f700;
        color: $bg;
        background-color: #f8f8f8;
        text-align: center;
        padding: 30px 10px;
    }
}
// end tutorial
// start adventages
.adventages{
    background-color: $bg;
    padding: 110px 0;
    &__title{
        color: #fff;
        margin-bottom: 85px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        text-align: center;
        padding: 0 15px;
        .icon-1{
            width: 50px;
            height: 70px;
        }
          
        .icon-2{
            width: 71px;
            height: 73px;
        }
        .icon-3{
            width: 76px;
            height: 86px;
        }
        &:hover{
            .adventages__item-images{
                background-color: $green;
                svg{
                    
                }
            }
            .adventages__item-title{
                color: $green;
            }
        }
        &-images{
            width: 114px;
            height: 114px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px;
            transition: all .5s;
        }
        &-title{
            font-size: 24px;
            margin-bottom: 25px;
            color: #fff;
            transition: all .5s;
            @include f500;
        }
        &-text{
            color: #b0bec5;
        }
    }
}

// end adventages

@import 'media'